[flake8]
max-line-length = 88
extend-ignore = E203, W503, E302
# E203 whitespace before ':' - конфликтует с black
# W503 line break before binary operator - конфликтует с black
exclude =
    .git,
    __pycache__,
    build,
    dist,
    .venv,
    venv,
    *.egg-info,
    .pytest_cache,
    .mypy_cache,
    coverage_html,
    .coverage,
    .tox,
    .env
